
/* Nav */
nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
/* footer */
footer{
  padding: 20px ;
  display: flex;
  background-color: #4e4b4b;
}
footer div{
  margin: 0px auto 0px auto;
}
footer .redes{
  display: flex;
}
.redes li{
  margin: auto;
}
footer li{
  list-style: none;
}
@media screen and (max-width: 600px) {
  footer {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

