
/* Nav */
nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
/* footer */
footer{
  color:white;
  padding: 20px ;
  display: flex;
  background-color: #4e4b4b;
}
footer div{
  margin: 0px auto 0px auto;
}
footer .redes{
  display: flex;
}
.redes li{
  margin: auto;
}
footer li{
  list-style: none;
}
/*  inicio paginas principales */
.general{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#inicio{
  background: url("Panorama/188815862_1002804597133915_8165767116799593427_n.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
#aboutus{
  background: url("Panorama/bienvenida.jpg") no-repeat;
  background-position-y: center;
  background-size: cover;
  height: 70vh;
  color: white;
}
#services{
  background: url("Panorama/bienvenida.jpg") no-repeat;
  background-position-y:center ;
  background-size: cover;
  height: 70vh;
  color: white;
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

